.profile-pic {
    display: flex;
    justify-content: center;
}

body {
  font-family: 'Noto Sans', sans-serif;

}

#para1 {
  font-size: 20px;
  /*text-align: center;*/ /* TODO: find a better way to align this text, still not quite right */
}

.bg-1 {
  background-color: #1abc9c;
  /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #F4A460;
  /* Orange */

}
.bg-3 {
  font-size: 20px;
  background-color: ##FFFFF0;
  /*Off-white*/
}
